* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #3E3934;
    font-family: 'Brandon Text Regular', sans-serif;
    outline: none;
    transition: .3s ease;
}
.container {
    width: 100%;
    padding: 0px 65px;
    position: relative;
}
/* navbar style */
#HeadMy {
    border-bottom: 1.7px solid rgba(0, 0, 0, 0.1);
}
.header_wrap {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
    background: #ffffff;
    transition: 0.5s ease;
}
.fixed_navbar {
    position: fixed;
    width: calc(100% - 130px);
    z-index: +111;
    transition: 0.5s ease;
    margin-bottom: 20px;
}
.location,
.work_time {
    display: block;
}
.logo > img {
    max-width: 111px;
    cursor: pointer;
}
.CallBack_btn {
    background-color: #F58C2C;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 17px;
}
/* navbar */
.navbar {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.navbarItems {
    display: block;
    margin: 0px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal; 
    cursor: pointer;
}
.active {
    font-size: 20px;
    font-weight: bold;
}
/* / ! navbar style */ 
/* first - block - style */
.ah_wrap {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 5%;
    position: relative;
}
.left {
    width: 38%;
    max-width: 39%;
    position: absolute;
    /* height: 250px; */
    left: 65px;
    background: #ffffff;
    padding: 10px 15px;
    z-index: 1;
    overflow: hidden;
}
.ah_headline {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
}
.ah_subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}
.OrangeLine {
    width: 100px;
    height: 2px;
    background-color: #F58C2C;
    margin: 40px 0 20px;
}
.ah_btn_anim {
    width: 100%;
    display: flex;
    z-index: 1;
    margin: 10px 0px 30px;
}
.ah_btn {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    z-index: 1;
    background-color: #F58C2C;
    width: calc(100% - 80px);
    text-align: center;
    padding: 10px 0px;
}
.right {
    width: 70%;
    height: 100%;
    /* background: url('Images/sl1.3d10c74b.jpg') center/cover; */
    /* overflow: hidden; */
    transition: 2s ease;
    position: relative;
}
.FSItems {
    width: 100%;
    height: 100%;
}
.SliderItems {
    width: 100%;
    height: 100%;
}
/* .slide_one {background: url('Images/sl1.3d10c74b.jpg') center/cover;}
.slide_two {background: url('Images/2.jpg') center/cover;}
.slide_three {background: url('Images/3.jpg') center/cover;} */

.selector {
    padding: 10px;
    background: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SelectorLine {
    display: block;
    width: 1px;
    height: 20px;
    margin: 0px 15px;
    background: #ccc;
}
.arrows {
    cursor: pointer;
}
.responsive_left {
    width: 35%;
    max-width: 38%;
    max-height: 30%;
    /* height: 250px; */
    background: #ffffff;
    padding: 10px 15px;
    z-index: 60;
    display: none;
}
/* / !  first - block - style */
/* about section style */
.AboutTitle {
    display: block;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
}
.AboutDescription {
    display: block;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    max-width: 50%;
    text-align: center;
}
.AboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
/* / !  about section style */
/*  price section style */
.PriceSection {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.PriceItem {
    width: calc((100% / 3) - 50px);
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.Second {
    margin: 0px 30px;
}
.PriceImg {
    width: 40px;
    max-width: 41px;
    margin-right: 15px;
}
.PTitle {
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1px;
}
.PriceTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.PriceDescription {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
/* / !  price section style */
/* AP text style */
.AP_Text {
    display: block; 
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}
/* / ! AP text style */
/* LostImage */
.LostImage {
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* / ! LostImage */
/* overview style */
.OwerviewElement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OverviewTitle {
    display: block;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
}
.OverviewSubtitle {
    display: block;    
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
/* / ! overview style */
/* overview slider */
.OwerviewSlider {
    width: 100%;
    display: flex;
    height: calc(90vh - 200px);
    margin-bottom: 150px;
    padding: 20px 0px;
    margin-top: 100px;
}
.LeftSide {
    width: 380px;
}
.RightSide {
    width: calc(100% - 400px);
    margin-left: 20px;
    position: relative;
}
.selectorItems {
    display: block;
    /* color: #ffffff;
    background-color: #F58C2C; */
    padding: 15px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
    font-weight: lighter;
}
.active_selector {
    color: #ffffff;
    background-color: #F58C2C;
}
.OwSliderItems {
    width: 100%;
    height: 100%;
}
.slideImg {
    width: 100%;
    height: 100%;
}
.es_0a {background: url('../Images/1aa.png') center/cover;}
.es_1a {background: url('../Images/aa.jpg') center/cover; display: none;}
.es_2a {background: url('../Images/bb.jpg') center/cover; display: none;}
.es_3a {background: url('../Images/cc.jpg') center/cover; display: none;}
.es_4a {background: url('../Images/dd.jpg') center/cover; display: none;}
.OwDescription {
    max-width: 500px;
    max-height: 500px;
    padding: 50px 40px;
    position: absolute;
    bottom: -50px;
    left: -40px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.OwDdescription {
    display: block;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.OwdImage {
    height: 3.1vw;
    background: url('../Img-texts/fur.8fdb47fc.png');
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* / ! overview slider */
/* responsive slider */
.responsive_slider {
    width: 100%;
    display: none;
    flex-direction: column;
}
.resp_slider_items {
    width: 100%;
    max-height: 500px;
    min-height: 480px;
}
.resp_slider_description {
    width: 100%;
    max-height: 300px;
    min-height: 299px;
}
.item_1 {background: url('../Images/1aa.png') center/cover;}
.item_2 {background: url('../Images/aa.jpg') center/cover;}
.item_3 {background: url('../Images/bb.jpg') center/cover;}
.item_4 {background: url('../Images/cc.jpg') center/cover;}
.item_5 {background: url('../Images/dd.jpg') center/cover;}
.resp_desc {
    padding: 0px 50px;
}
.resp_title {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    display: block;
    margin: 15px 0px;
}
/* catalog title */
.catalogTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CatalogSelement {
    display: block;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 40px;
}
.catalogLearnMore {
    display: block;  
    cursor: pointer; 
}
.catalogLearnMore > a {
    letter-spacing: 1px; 
    color: #F58C2C;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
/* / ! catalog title */
/* catalog */
.Catalog_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.Catalog_element {
    flex: 1;
    height: 100%;
    cursor: pointer;
}
.posed {
    margin: 0px 50px;
}
.Catalog_image {
    width: 100%;
    height: 500px;
    max-height: 510px;
    background: url('../Images/sofa-4.jpg') center/cover;
}
.ci_2 {background: url('../Images/kitchen.jpg') center/cover;}
.ci_3 {background: url('../Images/badroom.jpg') center/cover;}
.catalog_Title {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 700;
}
.Catalog_element_description {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
/* / ! catalog */
/* ReviewsTitle */
.ReviewsTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #FBFBFB;
}
.Reviews__title {
    margin-bottom: 40px;
    font-size: 40px;
    letter-spacing: 1px;
}
.Reviews__subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #F58C2C;
}
/* / ! ReviewsTitle */
/* Reviews */
/* Reviews */
.Reviews {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FBFBFB;
    padding: 70px 0px;
}
.ReviewsElement {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    background-color: #3E3934;
}
.Rew_name {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ffffff;
}
.name_line {
    width: 25px;
    height: 2px;
    margin-right: 5px;
    display: block;
    background-color: #F58C2C;
    display: block;
}
.Rev_description {
    margin-top: 20px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}
/* / ! Reviews */
/* contacts */
.ContactTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Contact__title {
    display: block;
    margin-bottom: 40px;
    font-size: 40px;
    letter-spacing: 1px;
}
.Contact__question {
    display: block;   
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.Contact_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.flexed_item {
    display: flex;
}
.contact_item {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    letter-spacing: 1px;
    text-indent: 5px;
}
.textarea_style {
    resize: none;
}
.ah_btn_last {
    padding: 8px 50px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    z-index: 1;
    background-color: #F58C2C;
    width: calc(100% - 80px);
    text-align: center;
    cursor: pointer;
}
.alast_button {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;
}
.scrolltop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}
.up {
    display: block;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.lineTOup {
    width: 1px;
    height: 50px;
    background-color: #3E3934;
    margin: 10px 0px;
}
/* / ! contacts */
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 40px 65px;
    margin-top: 100px;
}
.location_footer {
    padding: 60px 0px;
}
.f_description {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    margin-top: 30px;
}
/* / ! footer */
.sss {
    display: none;
}
.ddd {
    display: none;
}

